<h2>Realizar una Compra</h2>

<div class="justify-content-center">
    <div class="d-flex flex-column">
        <div class="row d-flex justify-content-center">
            <div class="col col-md-10 col-sm-10 col-xs-12 cardcard overflow-hidden shadow rounded-4 border-0">
                jjjf
            </div>
        </div>
    </div>
</div>

<div class="justify-content-center">
    <div class="d-flex flex-column">
        <div class="row d-flex justify-content-center">
            <div class="col col-md-12 col-sm-12 col-xs-12 cardcard overflow-hidden shadow rounded-4 border-0">
                jsjjs
            </div>
        </div>
    </div>
</div>