<h2>Realizar una Compra</h2>

<div class="desplegableItem">
    <select name="lotes" id="lotes" (change)="guardarIdLote($event)">
        <option value="" disabled selected>Selecciona un lote</option>
        <option *ngFor="let opcion of lotes" [value]="opcion.id">
            {{opcion.id}}
        </option>
    </select>
</div>


<div class="desplegableItem">
    <select name="proveedor" id="proveedor" (change)="guardarIdProveedor($event)">
        <option value="" disabled selected>Selecciona un proveedor</option>
        <option *ngFor="let opcion of proveedores" [value]="opcion.idSujeto">
            {{opcion.nombre}}
        </option>
    </select>
</div>

<div class="buyButton">
    <button type="button" [disabled]="botonDeshabilitado" (click)="guardarCompra()">Comprar</button>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
        <div class="tarjetaProducto">
            <h4>{{producto.nombreProducto}}</h4>
            <p>{{producto.descripcionProducto}}</p>
        </div>
    </div>
</div>

<div *ngIf="productos === undefined" class="productosLabel">
    <h4>Productos</h4>
</div>

<div *ngIf="productos !== undefined">
    <div class="container">
        <div class="row">
          <div *ngFor="let item of productos" class="col-md-4">
            <!-- Contenido de cada celda -->
            <div class="tarjetaProducto" style="width: 100%;"
            (click)="guardarProducto(item.toString())">
                <div class="card-body">
                    <h5 class="card-title">{{item.nombreProducto}}</h5>
                    <p class="card-description">{{item.descripcionProducto}}</p>
                    <p class="card-codigo">{{item.codigoProducto}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
