/* Estilos generales para la tarjeta */
h2{
    display: flex;
    justify-content: center;
    margin-top: 9%;
}

.tarjetaProducto{
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s;
}

.card-codigo{
  background-color: #666;
}

.tarjetaProducto:hover{
    background-color: #f2f2f2;
}
.tarjetaProducto.deshabilitada {
    background-color: #ce1515; /* Color después de hacer clic */
}

/* Estilos para el título (h3) dentro de la tarjeta */
.tarjetaProducto h4{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

/* Estilos para el párrafo (p) dentro de la tarjeta */
.tarjetaProducto p{
    color: #666;
    font-size: 1rem;
    line-height: 1.4;
}

.desplegableItem{
    display: flex;
    justify-content: center;
    margin: 2%;
}

#proveedor, #lotes{
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
}

.labelDesplegable{
    margin-right: 3%;
}

.buyButton {
    text-align: center;
    margin: 2%;
  }

  .buyButton button {
    padding: 10px 20px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .buyButton button:hover {
    background-color: #f0f0f0;
  }

/* Estilo base para el elemento select */
select {
    padding: 5px; /* Ajusta el espaciado interno según sea necesario */
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    border: 1px solid #ccc; /* Ajusta el color del borde según sea necesario */
    border-radius: 5%; /* Ajusta la curvatura de las esquinas según sea necesario */
    width: 70%; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box; /* Asegura que el ancho incluya el relleno y el borde */
    background-color: #fff;
    transition: background-color 0.3s ease;
}

select:hover {
    background-color: #f0f0f0;
  }

  option {
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  }

  option:selected {
    font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
  }

  select:focus {
    outline: none; /* Elimina el contorno predeterminado del enfoque */
    border-color: #66afe9; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Agrega una sombra al enfocar */
  }
